@model IEnumerable<ElectronicsANC.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using(Html.BeginForm())
    {
        <p>
            Search by Category Name:@Html.TextBox("Filter", null, new { @placeholder = "Name" } )            
            <input type="submit" value="Search" />            
        </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCategory)
        </th>
        <th>
            @Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdCategory }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdCategory }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdCategory })
        </td>
    </tr>
}

</table>
