@model ElectronicsANC.Models.ReviewModel

@{
    ViewBag.Title = "DetailsReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            <span>@Convert.ToDateTime(Model.ReviewDate).ToString("dd-MM-yyyy")</span>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReview }) |
    @Html.ActionLink("Back to List", "Index")
</p>
