@model ElectronicsANC.Models.ProductModel

@{
    ViewBag.Title = "DetailsMotherboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Motherboard Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm("Create", "ShoppingCart"))
    {
        if (User.Identity.IsAuthenticated)
        {
            @Html.Hidden("IdProduct", Model.IdProduct)
            @Html.Hidden("Price", Model.Price)
            <input type="submit" value="Add To Cart" />
        }
    } |
    @using (Html.BeginForm("Create", "Review"))
    {
        if (User.Identity.IsAuthenticated)
        {
            @Html.Hidden("IdProduct", Model.IdProduct) <input type="submit" value="Write Review" />
        }
    } |
    @Html.ActionLink("Back to List", "Index")
</p>
