<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin Tools
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@Html.ActionLink("Members", "Index", "Member")</a></li>
                                    <li><a href="#">@Html.ActionLink("Categories", "Index", "Category")</a></li>
                                    <li><a href="#">@Html.ActionLink("Products", "Index", "Product")</a></li>
                                    @*<li><a href="#">@Html.ActionLink("Carts", "Index", "Cart")</a></li>*@
                                    <li><a href="#">@Html.ActionLink("Orders", "Index", "Order")</a></li>
                                    <li><a href="#">@Html.ActionLink("Reviews", "Index", "Review")</a></li>
                                    <li><a href="#">@Html.ActionLink("ShoppingCarts", "Index", "ShoppingCart")</a></li>
                                </ul>
                            </li>
                        }
                    }

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Categories
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.ActionLink("CPU", "Index", "CPU")</a></li>
                            <li><a href="#">@Html.ActionLink("CPU Cooler", "Index", "CPUCooler")</a></li>
                            <li><a href="#">@Html.ActionLink("Motherboard", "Index", "Motherboard")</a></li>
                            <li><a href="#">@Html.ActionLink("Memory", "Index", "Memory")</a></li>
                            <li><a href="#">@Html.ActionLink("Storage", "Index", "Storage")</a></li>
                            <li><a href="#">@Html.ActionLink("Video Card", "Index", "VideoCard")</a></li>
                            <li><a href="#">@Html.ActionLink("Power Supply", "Index", "PowerSupply")</a></li>
                            <li><a href="#">@Html.ActionLink("Case", "Index", "Case")</a></li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
