@model IEnumerable<ElectronicsANC.Models.MemberModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using(Html.BeginForm())
    {
        <p>
            Search by:@Html.TextBox("FirstName", null, new { @placeholder = "FirstName" } )            
            <input type="submit" value="Search" />            
        </p>
        <p>
            Search by:@Html.TextBox("LastName", null, new { @placeholder = "LastName" } )            
            <input type="submit" value="Search" />            
        </p>
        <p>
            Search by:@Html.TextBox("City", null, new { @placeholder = "City" } )            
            <input type="submit" value="Search" />            
        </p>
        <p>
            Search by:@Html.TextBox("Country", null, new { @placeholder = "Country" } )            
            <input type="submit" value="Search" />            
        </p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMember)
        </th>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.AddressSortParam })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParam })
        </th>
        <th>
            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParam })
        </th>
        <th>
            @Html.ActionLink("Postal Code", "Index", new { sortOrder = ViewBag.PostalCodeSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMember)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdMember }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdMember }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdMember })
        </td>
    </tr>
}

</table>
