@model IEnumerable<ElectronicsANC.Models.OrderModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdOrder)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IdProduct)
        </th>
        <th>
            @Html.ActionLink("Order Date", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParam })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdOrder)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IdProduct)
        </td>
        <td>
            <span>@Convert.ToDateTime(item.DateOrder).ToString("dd-MM-yyyy")</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdOrder }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdOrder }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdOrder })
        </td>
    </tr>
}

</table>
